html,body,div,span,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,font,img,sub,sup,tt,var,
dd,dl,dt,li,ol,ul,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-family: inherit;
	text-align: left;
}

canvas {
	/*border: solid 1px #000000;*/
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol,ul {
	list-style: none;
}
q:before,q:after,
blockquote:before,blockquote:after {
	content: "";
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: auto;
}

h1.title {
	text-align: center;
	padding: 20px;
}

#wrapper {
	/*width: 815px;*/
	padding: 0 0 0 0;
}

	.base {
		/*margin: 0 auto;*/
		/*left: 0px;*/
		/*width: 682px;*/
		text-align: left;
		position: relative;
	}
	
	#photo {
		overflow: hidden;
	}

		#photo ul li {
			display: block;
			float: left;
			/*border: solid -3px #000000;*/
		}

	#photo img {
		display: block;
	}
	
	#hover-box {
		height: 23px;
		margin-top: 0px;
		position: relative;
		z-index: 30;
	}
	
	#navigation{
		margin-top: -256px;
	}
	#navigation ul {
		width: 120px;
		float: left;
		position: relative;
		margin: -100 0 0 0px;
		display: inline;
	}
	
	#navigation ul li {
		width: 0px;
		float: left;
		padding: 5px 0 0 0;
	}

	#navigation a:link, #navigation a:visited {
		font-size: 10px;
		text-decoration: none;
		color: #000000;
		outline: none;
	}

	#navigation a:hover, #navigation a:focus {
		color: #ff9933;
		background: none;
	}

	#navigation ul li a:link, #navigation ul li a:visited {
		display: block;
		float: left;
		width: 20px;
		height: 8px;
		overflow: hidden;
	}
		#navigation a span {
			font-size: 50px;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			line-height: 24px;
		}

		a.play, a.play:link, a.play:visited {
			display: block;
			width: 14px;
			height: 14px;
			background: transparent url(images/play-pause.gif) no-repeat 0 -14px;
			text-indent: -9999em;
			overflow: hidden;
			position: absolute;
			top: 5px;
			left: 160px;
		}

		a.pause, a.pause:link, a.pause:visited {
			background-position: 0 0;
		}
		
		#navigation a.play:hover, #navigation a.play:focus {
			background: transparent url(images/play-pause.gif) no-repeat 0 -14px;
		}
		
		#navigation a.pause:hover, #navigation a.pause:focus {
			background: transparent url(images/play-pause.gif) no-repeat 0 0;
		}

		#prev {
			float: left;
			color: #000000;
			padding: 0 0px 0 200px;
		}

		#next {
			float: right;
			color: #000000;
			padding: 0 200px 0 0px;
		}

		#prev a:link, #prev a:visited {
			background: none;
		}
		
		#next a:link, #next a:visited {
			background: none;
		}

	#description {
		padding: 1px 0 0 0;
	}
		
		#title a:link, #title a:visited {
			font-size: 19px;
			color: #c00;
			text-decoration: none;
			font-family: Arial, Helvetica, sans-serif;
			font-weight: bold;
			line-height: 34px;
		}
		
		#title a:hover, #title a:focus {
			text-decoration: underline;
		}
		